openapi: 3.1.0
info:
  title: Orion Health FHIR Alerts Quality Measures API
  description: The Orion Health FHIR API provides standards-based access to healthcare data using the HL7 FHIR (Fast Healthcare Interoperability Resources) specification. It enables healthcare organizations to read, search, create, and update clinical resources including patients, encounters, observations, conditions, medications, allergies, procedures, diagnostic reports, and care plans. The API conforms to FHIR R4 (v4.0.1) and supports both JSON and XML representations.
  version: 1.0.0
  contact:
    name: Orion Health API Support
    email: apisupport@orionhealth.com
    url: https://www.orionhealth.com/support
  license:
    name: Proprietary
    url: https://www.orionhealth.com/terms-of-service
  termsOfService: https://www.orionhealth.com/terms-of-service
servers:
- url: https://api.orionhealth.com/fhir
  description: Production FHIR Server
- url: https://sandbox.orionhealth.com/fhir
  description: Sandbox FHIR Server
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Quality Measures
  description: Healthcare quality measure tracking
paths:
  /quality-measures:
    get:
      operationId: listQualityMeasures
      summary: Orion Health List quality measures
      description: Retrieve healthcare quality measures being tracked, including HEDIS, CMS, and custom measures.
      tags:
      - Quality Measures
      parameters:
      - name: type
        in: query
        description: Measure framework
        schema:
          type: string
          enum:
          - hedis
          - cms
          - nqf
          - custom
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of quality measures
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualityMeasure'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /quality-measures/{measureId}/results:
    get:
      operationId: getQualityMeasureResults
      summary: Orion Health Get quality measure results
      description: Retrieve performance results for a specific quality measure, including numerator, denominator, and compliance rates.
      tags:
      - Quality Measures
      parameters:
      - name: measureId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: periodStart
        in: query
        schema:
          type: string
          format: date
      - name: periodEnd
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Quality measure results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityMeasureResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    QualityMeasure:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - hedis
          - cms
          - nqf
          - custom
        measureId:
          type: string
          description: External measure identifier (e.g., HEDIS measure ID)
        status:
          type: string
          enum:
          - active
          - inactive
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    QualityMeasureResult:
      type: object
      properties:
        measureId:
          type: string
          format: uuid
        measureName:
          type: string
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        denominator:
          type: integer
          description: Total eligible patients
        numerator:
          type: integer
          description: Patients meeting the measure
        exclusions:
          type: integer
        complianceRate:
          type: number
          description: Percentage of compliance (0-100)
        benchmark:
          type: number
          description: Target benchmark percentage
        trend:
          type: array
          items:
            type: object
            properties:
              period:
                type: string
              complianceRate:
                type: number
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    PageLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PageOffset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using SMART on FHIR
      flows:
        authorizationCode:
          authorizationUrl: https://auth.orionhealth.com/oauth2/authorize
          tokenUrl: https://auth.orionhealth.com/oauth2/token
          scopes:
            patient/*.read: Read access to all patient data
            patient/*.write: Write access to all patient data
            patient/Patient.read: Read access to Patient resources
            patient/Observation.read: Read access to Observation resources
            patient/Condition.read: Read access to Condition resources
            patient/MedicationRequest.read: Read access to MedicationRequest resources
            launch: Launch context
            openid: OpenID Connect
            fhirUser: FHIR user identity
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
