openapi: 3.2.0
info:
  title: Orion Health Rhapsody Integration Configuration API
  description: The Orion Health Rhapsody Integration Engine API provides management and monitoring capabilities for the Rhapsody healthcare integration platform. It enables programmatic control of integration routes, communication points, message queues, and system monitoring. Rhapsody supports HL7v2, FHIR, CDA, X12, DICOM, and other healthcare messaging standards for connecting disparate healthcare systems.
  version: 1.0.0
  contact:
    name: Orion Health API Support
    email: apisupport@orionhealth.com
    url: https://www.orionhealth.com/support
  license:
    name: Proprietary
    url: https://www.orionhealth.com/terms-of-service
  termsOfService: https://www.orionhealth.com/terms-of-service
servers:
- url: https://api.orionhealth.com/rhapsody
  description: Rhapsody Management API
- url: https://sandbox.orionhealth.com/rhapsody
  description: Sandbox Rhapsody API
security:
- oauth2: []
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Configuration
  description: Engine configuration management
paths:
  /configuration/engine:
    get:
      operationId: getEngineConfiguration
      summary: Orion Health Get engine configuration
      description: Retrieve the current Rhapsody engine configuration settings.
      tags:
      - Configuration
      responses:
        '200':
          description: Engine configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/components:
    get:
      operationId: listComponents
      summary: Orion Health List installed components
      description: List all installed Rhapsody components including filters, communication point types, and custom modules.
      tags:
      - Configuration
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - filter
          - communication-point
          - module
          - connector
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of installed components
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Component:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - filter
          - communication-point
          - module
          - connector
        version:
          type: string
        vendor:
          type: string
        description:
          type: string
        installed:
          type: boolean
    EngineConfiguration:
      type: object
      properties:
        version:
          type: string
        buildNumber:
          type: string
        hostname:
          type: string
        port:
          type: integer
        maxMemoryMb:
          type: integer
        dataDirectory:
          type: string
        logLevel:
          type: string
          enum:
          - debug
          - info
          - warn
          - error
        features:
          type: object
          properties:
            messageArchiving:
              type: boolean
            messageSearchIndexing:
              type: boolean
            highAvailability:
              type: boolean
            clustering:
              type: boolean
  parameters:
    PageOffset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
    PageLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.orionhealth.com/oauth2/token
          scopes:
            rhapsody:read: Read access to Rhapsody engine
            rhapsody:write: Write access to Rhapsody engine
            rhapsody:admin: Administrative access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
