openapi: 3.2.0
info:
  title: Orion Health Population Health Alerts API
  description: The Orion Health Population Health API provides programmatic access to population health management capabilities including patient registries, risk stratification, care coordination, cohort analytics, and health outcome tracking. It enables healthcare organizations to identify at-risk populations, manage care programs, and track quality measures across patient cohorts.
  version: 1.0.0
  contact:
    name: Orion Health API Support
    email: apisupport@orionhealth.com
    url: https://www.orionhealth.com/support
  license:
    name: Proprietary
    url: https://www.orionhealth.com/terms-of-service
  termsOfService: https://www.orionhealth.com/terms-of-service
servers:
- url: https://api.orionhealth.com/population-health
  description: Production Server
- url: https://sandbox.orionhealth.com/population-health
  description: Sandbox Server
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Alerts
  description: Clinical and population health alerts
paths:
  /alerts:
    get:
      operationId: listAlerts
      summary: Orion Health List population health alerts
      description: Retrieve clinical and population health alerts such as care gap notifications, risk changes, and quality measure compliance alerts.
      tags:
      - Alerts
      parameters:
      - name: patientId
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - care-gap
          - risk-change
          - quality-measure
          - utilization
          - custom
      - name: priority
        in: query
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - urgent
      - name: status
        in: query
        schema:
          type: string
          enum:
          - new
          - acknowledged
          - resolved
          - dismissed
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /alerts/{alertId}:
    put:
      operationId: updateAlert
      summary: Orion Health Update an alert
      description: Update the status of a population health alert.
      tags:
      - Alerts
      parameters:
      - name: alertId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - acknowledged
                  - resolved
                  - dismissed
                note:
                  type: string
                  description: Optional note about the status change
      responses:
        '200':
          description: Alert updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    Alert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - care-gap
          - risk-change
          - quality-measure
          - utilization
          - custom
        priority:
          type: string
          enum:
          - low
          - medium
          - high
          - urgent
        status:
          type: string
          enum:
          - new
          - acknowledged
          - resolved
          - dismissed
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  parameters:
    PageOffset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
    PageLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.orionhealth.com/oauth2/token
          scopes:
            population-health:read: Read population health data
            population-health:write: Write population health data
            population-health:admin: Administrative access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
