openapi: 3.1.0
info:
  title: Orion Health FHIR Alerts Configuration API
  description: The Orion Health FHIR API provides standards-based access to healthcare data using the HL7 FHIR (Fast Healthcare Interoperability Resources) specification. It enables healthcare organizations to read, search, create, and update clinical resources including patients, encounters, observations, conditions, medications, allergies, procedures, diagnostic reports, and care plans. The API conforms to FHIR R4 (v4.0.1) and supports both JSON and XML representations.
  version: 1.0.0
  contact:
    name: Orion Health API Support
    email: apisupport@orionhealth.com
    url: https://www.orionhealth.com/support
  license:
    name: Proprietary
    url: https://www.orionhealth.com/terms-of-service
  termsOfService: https://www.orionhealth.com/terms-of-service
servers:
- url: https://api.orionhealth.com/fhir
  description: Production FHIR Server
- url: https://sandbox.orionhealth.com/fhir
  description: Sandbox FHIR Server
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Configuration
  description: Engine configuration management
paths:
  /configuration/engine:
    get:
      operationId: getEngineConfiguration
      summary: Orion Health Get engine configuration
      description: Retrieve the current Rhapsody engine configuration settings.
      tags:
      - Configuration
      responses:
        '200':
          description: Engine configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/components:
    get:
      operationId: listComponents
      summary: Orion Health List installed components
      description: List all installed Rhapsody components including filters, communication point types, and custom modules.
      tags:
      - Configuration
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - filter
          - communication-point
          - module
          - connector
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of installed components
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    EngineConfiguration:
      type: object
      properties:
        version:
          type: string
        buildNumber:
          type: string
        hostname:
          type: string
        port:
          type: integer
        maxMemoryMb:
          type: integer
        dataDirectory:
          type: string
        logLevel:
          type: string
          enum:
          - debug
          - info
          - warn
          - error
        features:
          type: object
          properties:
            messageArchiving:
              type: boolean
            messageSearchIndexing:
              type: boolean
            highAvailability:
              type: boolean
            clustering:
              type: boolean
    Component:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - filter
          - communication-point
          - module
          - connector
        version:
          type: string
        vendor:
          type: string
        description:
          type: string
        installed:
          type: boolean
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
  parameters:
    PageLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PageOffset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using SMART on FHIR
      flows:
        authorizationCode:
          authorizationUrl: https://auth.orionhealth.com/oauth2/authorize
          tokenUrl: https://auth.orionhealth.com/oauth2/token
          scopes:
            patient/*.read: Read access to all patient data
            patient/*.write: Write access to all patient data
            patient/Patient.read: Read access to Patient resources
            patient/Observation.read: Read access to Observation resources
            patient/Condition.read: Read access to Condition resources
            patient/MedicationRequest.read: Read access to MedicationRequest resources
            launch: Launch context
            openid: OpenID Connect
            fhirUser: FHIR user identity
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
