openapi: 3.2.0
info:
  title: Orion Health Rhapsody Integration Message Queues API
  description: The Orion Health Rhapsody Integration Engine API provides management and monitoring capabilities for the Rhapsody healthcare integration platform. It enables programmatic control of integration routes, communication points, message queues, and system monitoring. Rhapsody supports HL7v2, FHIR, CDA, X12, DICOM, and other healthcare messaging standards for connecting disparate healthcare systems.
  version: 1.0.0
  contact:
    name: Orion Health API Support
    email: apisupport@orionhealth.com
    url: https://www.orionhealth.com/support
  license:
    name: Proprietary
    url: https://www.orionhealth.com/terms-of-service
  termsOfService: https://www.orionhealth.com/terms-of-service
servers:
- url: https://api.orionhealth.com/rhapsody
  description: Rhapsody Management API
- url: https://sandbox.orionhealth.com/rhapsody
  description: Sandbox Rhapsody API
security:
- oauth2: []
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Message Queues
  description: Message queue monitoring and management
paths:
  /queues:
    get:
      operationId: listQueues
      summary: Orion Health List message queues
      description: Retrieve all message queues in the Rhapsody engine with their current depth and status.
      tags:
      - Message Queues
      parameters:
      - name: routeId
        in: query
        description: Filter by route ID
        schema:
          type: integer
      - name: hasErrors
        in: query
        description: Only show queues with errors
        schema:
          type: boolean
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of message queues
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Queue'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /queues/{queueId}:
    get:
      operationId: getQueue
      summary: Orion Health Get queue details
      description: Retrieve details of a specific message queue.
      tags:
      - Message Queues
      parameters:
      - name: queueId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Queue details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /queues/{queueId}/messages:
    get:
      operationId: listQueueMessages
      summary: Orion Health List messages in a queue
      description: Retrieve messages currently held in a specific queue.
      tags:
      - Message Queues
      parameters:
      - name: queueId
        in: path
        required: true
        schema:
          type: integer
      - name: status
        in: query
        schema:
          type: string
          enum:
          - queued
          - error
          - held
      - $ref: '#/components/parameters/PageOffset'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Message:
      type: object
      properties:
        id:
          type: integer
        messageType:
          type: string
          description: HL7 message type (e.g., ADT^A01, ORM^O01)
        status:
          type: string
          enum:
          - processed
          - error
          - held
          - queued
        routeId:
          type: integer
        routeName:
          type: string
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
        size:
          type: integer
          description: Message size in bytes
        errorMessage:
          type: string
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    Queue:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        routeId:
          type: integer
        routeName:
          type: string
        depth:
          type: integer
          description: Number of messages in the queue
        errorCount:
          type: integer
        heldCount:
          type: integer
        oldestMessageTime:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    QueueDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        routeId:
          type: integer
        routeName:
          type: string
        depth:
          type: integer
        errorCount:
          type: integer
        heldCount:
          type: integer
        maxDepth:
          type: integer
        oldestMessageTime:
          type: string
          format: date-time
        averageWaitTimeMs:
          type: number
        throughputPerSecond:
          type: number
  parameters:
    PageOffset:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
    PageLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.orionhealth.com/oauth2/token
          scopes:
            rhapsody:read: Read access to Rhapsody engine
            rhapsody:write: Write access to Rhapsody engine
            rhapsody:admin: Administrative access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
